<div class="home-page">
    Welcome to <b>{{ $ctrl.stopName }}</b> stop timetable. <a ui-sref="app.home">Back</a><br/>

    <div ng-show="!timetableLoaded">
        Loading Timetable...
    </div>
    <div ng-show="!departuresLoaded">
        Loading Departures...
    </div>

    <div uib-timepicker ng-model="departureTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="false"></div>

    <div ng-repeat="departure in departures track by $index" ng-show="departuresLoaded">
        <div>Line {{ departure.line }}  - {{ departure.human_departure_time }} [{{ departure.departure_time }}]</div>
    </div>

    <hr/>

    <div ng-repeat="(id, timetable) in timetable track by $index" ng-show="timetableLoaded">
        Line {{ id }} </br>
        <div ng-repeat="hours in timetable">
            {{ hours }}
        </div>
    </div>

</div>