<div class="home-page">
    Welcome to timetable please select your stop. <br/>

    <div ng-show="!$ctrl.stopsLoaded">
        Loading stops...
    </div>

    <div ng-repeat="stop in $ctrl.stops track by $index" ng-show="$ctrl.stopsLoaded">
        <a ui-sref="app.timetable({ stopId: stop.id })">{{ stop.stop_name }}</a><br/>
    </div>
</div>